button {
  width: "250px";
  height: "30px";
  margin: "0 auto";
  margin-top: "1rem";
  display: "grid";
  font-size: "20px";
  font-weight: "80";
  cursor: "pointer";
  background-color: #e3e6e8;
}

button:hover {
  background-color: #fcf5d2;
}
